<p id="notice"><%= notice %></p>

<p class="text-center" style="font-size: large"><b>Recheios dos Pastéis</b></p>
 <div class="row">
      <% @fillings.each do |filling| %>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <p class="text-center" style="font-size: small"><b><%= filling.name %></b></p>
             <% filling.ifillings.each do |photo| %>
              <p><%= link_to image_tag(photo.small_thumb.url, class: "img-responsive img-thumbnail"), filling %></p>
       <% end %>
          </div>
      <% end %>
 </div>
<br>
<%= link_to "home", root_path, :class => 'btn btn-dark btn-sm' %>